.header {
    font-family: HelveticaNeueRegular;
    font-size: 43px;
    letter-spacing: 0.86px;
    color: #808080;
    text-align: left;
}

@media only screen and (max-width: 1680px) {
    .header {
        font-size: inherit;
        line-height: 3rem;
    }
}
.header th:first-child {
    padding-left: 12rem;
}
@media only screen and (max-width: 1680px) {
    .header th:first-child {
        padding-left: 10%;
    }
}
.header th:last-child {
    padding-right: 8rem;
}
@media only screen and (max-width: 1680px) {
    .header th:last-child {
        padding-right: 10%;
    }
}
[data-id='destination'] {
    width: 600px;
}
