.carrier img {
    width: 320px;
    vertical-align: middle;
}

@media only screen and (max-width: 1680px) and (orientation: landscape) {
    img {
        width: 3.5vw;
        transform: translateY(0.5vh);
    }
    .carrier img {
        width: 11vw;
        transform: translateY(-0.5vh);
    }
}

.row td:first-child {
    padding-left: 12rem;
}
.row td:last-child {
    padding-right: 8rem;
}

.row td {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 1680px) and (orientation: landscape) {
    .row td {
        padding-right: 1rem;
    }
    .row td:nth-child(2) {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        transform: translateY(0.25rem);
    }
}

.row [data-id='destination'] {
    width: 600px;
    max-width: 600px;
}
