.table {
    font-size: 53px;
    line-height: 108.8px;
    letter-spacing: 1.06px;
    width: 100%;
}

@media only screen and (max-width: 1680px) and (orientation: landscape) {
    .table {
        font-size: 1.5vw;
        line-height: 40%;
    }
}

.gray {
    background-color: #2d2d2d;
}
